streamlit==1.56.0
pandas==3.0.2
numpy==2.4.4
sqlalchemy==2.0.49
sqlite-utils==3.39

langchain-community==0.4.1
langchain-ollama==1.1.0
transformers==5.5.4
peft==0.19.1

python-dotenv==1.2.2

tqdm==4.67.3
loguru==0.7.3

torchvision==0.26.0
sentencepiece==0.2.2
tiktoken==0.13.0